:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-color: #2d2d2b;
  --secondary-color: #ffffff;
  --complementary-color: #b0b0b0;
  --accent-color: #eae6df;
  --analogue-color: #5b5a58;
}

h1 {
  font-family: var(--main-font);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 7.2px;
  color: var(--primary-color);
}

.hero {
  background-color: var(--accent-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h3 {
  font-family: var(--main-font);
  font-size: 28px;
  letter-spacing: 2.4px;
  color: var(--primary-color);
  margin: 0;
  text-transform: uppercase;
}

.hero h2 {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--analogue-color);
  line-height: 30px;
}

.btn-branding {
  border-radius: 30px;
  background: var(--complementary-color);
  color: var(--analogue-color);
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 700;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}
