:root {
  --main-font: "Roboto", sans-serif;
  --secondary-font: "Montserrat", sans-serif;
  --primary-color: #2d2d2b;
  --secondary-color: #ffffff;
  --complementary-color: #b0b0b0;
  --accent-color: #eeeeee;
  --analogue-color: #5b5a58;
}

nav {
  background: var(--accent-color);
  color: var(-primary-color);
  font-family: var(--main-font);
  height: 60px;
}

.navbar-header {
  display: flex;
  flex-wrap: inherit;
  align-items: center;
  justify-content: space-between;
  max-width: 720px;
}

.navbar-collapse {
  background: var(--accent-color);
  padding-left: 30px;
}

.navbar-brand {
  color: var(--primary-color);
  padding-left: 30px;
}

.navbar-nav .nav-item {
  display: inline-block;
}

.navbar-nav .nav-link {
  color: var(--primary-color);
  display: block;
  padding: 10px;
}

.hero {
  background-image: url("/images/header-background-fc.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-color: var(--accent-color);
  text-align: center;
  padding: 160px 20px;
}

.hero h1 {
  font-family: var(--main-font);
  font-size: 72px;
  font-weight: 600;
  letter-spacing: 7.2px;
  color: var(--primary-color);
}

.hero h3 {
  font-family: var(--main-font);
  font-size: 28px;
  letter-spacing: 2.4px;
  color: var(--primary-color);
  margin: 0;
  text-transform: uppercase;
}

.hero h2 {
  font-family: var(--main-font);
  font-size: 18px;
  font-weight: 400;
  color: var(--analogue-color);
  line-height: 30px;
}

.btn-branding {
  border-radius: 30px;
  background: var(--complementary-color);
  color: var(--analogue-color);
  font-family: var(--secondary-font);
  font-size: 12px;
  font-weight: 700;
  width: 200px;
  padding: 10px 20px;
  text-decoration: none;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.phrase-section {
  background-color: var(--primary-color);
  text-align: center;
  padding: 80px 20px;
}

.phrase-section h3 {
  color: var(--secondary-color);
  font-family: var(--main-font);
  font-size: 20px;
  letter-spacing: 2.4px;
  font-weight: 300;
  font-style: italic;
}

.container {
  max-width: 100%;
  margin-top: 110px;
  margin-bottom: 110px;
}

.section-3-content {
  text-align: center;
}

.section-3-content h4 {
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2.4px;
  color: var(--primary-color);
}

.section-3-content p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 300;
  color: var(--analogue-color);
  line-height: 30px;
  padding: 30px;
}

.about-section {
  background: var(--accent-color);
  display: flex;
  justify-content: center;
}

.about-section-container {
  max-width: 780px;
}

.about-desciption h4 {
  font-family: var(--main-font);
  font-size: 28px;
  font-weight: 600;
  letter-spacing: 2.4px;
  color: var(--primary-color);
}

.about-desciption p {
  font-family: var(--main-font);
  font-size: 16px;
  font-weight: 300;
  color: var(--analogue-color);
  line-height: 30px;
}

.footer-section {
  background-color: var(--primary-color);
  text-align: center;
  padding: 30px 20px;
}

.footer-content > div {
  display: inline-block;
  vertical-align: middle;
}

.social-icons a {
  margin: 0 20px;
  color: var(--secondary-color);
  text-decoration: none;
  font-size: 18px;
}

@media (max-width: 576px) {
  .nav {
    height: 40px;
  }

  .navbar-brand {
    font-size: 18px;
    padding: 0;
  }

  .hero {
    padding: 80px 20px;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .hero h3 {
    font-size: 24px;
    padding-top: 40px;
  }

  .phrase-section {
    padding: 40px 20px;
  }

  .container {
    margin-top: 60px;
    margin-bottom: 60px;
  }

  .section-3-img,
  .section-3-content {
    text-align: center;
  }

  .about-section {
    flex-direction: column;
    padding: 20px;
  }

  .about-section .col {
    margin-bottom: 30px;
  }

  .about-section h4 {
    font-size: 20px;
  }

  .about-section p {
    font-size: 14px;
  }
}
